---
import Container from '$components/Container.astro'
import Icon from '$components/Icon.astro'
import TextTitle from '$components/TextTitle.astro'

const links = [
	{ title: 'Otoño en el Montseny', link: 'https://elotonoenunplato.eltiempo.es/' },
	{ title: 'Verano en la Costa Brava', link: 'https://www.eltiempo.es/vida-saludable/el-verano-en-un-plato-a-que-sabe-la-costa-brava-bracon' },
]
---

<Container bgColor="bg-stone-300" bgImage="bg-img-texture">
	<div class="reveal text-center">
		<p class="mx-auto max-w-2xl text-center text-2xl reveal:translate-y-12 reveal:opacity-0">
			Los dos platos del verano de los Hermanos Torres son más que simples recetas; son una <strong>invitación a redescubrir la belleza y el sabor de lo local</strong>. En cada bocado, podemos sentir la frescura de las flores del Tibidabo, el sabor del mar de los mejillones de Barcelona y el compromiso con una cocina que respeta y celebra la riqueza de su entorno.
		</p>

		<hr class="my-24 border-current reveal:scale-x-0 revealed:delay-100" />

		<TextTitle title="Más Recetas con recorrido " />
	</div>

	<div class="mb-24 mt-12 flex flex-wrap justify-center gap-x-6 gap-y-3">
		{
			links.map(({ title, link }) => (
				<a class="border border-neutral-800 px-6 py-3 transition-colors hover:bg-neutral-800 hover:text-white" target="_blank" rel="noindex nofollow" href={link}>
					{title}
				</a>
			))
		}
	</div>

	<p class="mb-3 text-center">ElTiempo Content para</p>

	<Icon class="mx-auto w-40" name="lexus" />

	<div class="container mt-4">
		<ul class="c1 my-8 flex justify-center gap-8">
			<li>
				<a href="https://www.eltiempo.es/legal/politica-privacidad.html">Política de Privacidad</a>
			</li>
			<li>
				<a href="https://www.eltiempo.es/legal/condiciones-generales.html">Aviso legal</a>
			</li>
			<li>
				<a href="https://www.eltiempo.es/legal/politica-cookies.html">Política de Cookies</a>
			</li>
		</ul>

		<p class="mt-8 text-center">
			<a href="https://www.eltiempo.es/">© El tiempo, Pelmorex Weather Networks 2021</a>
		</p>
	</div>
</Container>
