@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(./assets/fonts/lato-400.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url(./assets/fonts/lato-900.woff2) format('woff2');
	}
	@font-face {
		font-family: 'Gallery';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url(./assets/fonts/gallery-400.woff2) format('woff2');
	}
	@media (max-width: 400px) {
		html {
			font-size: 4vw;
		}
	}
	@media (min-width: 1281px) {
		html {
			font-size: 1.25vw;
		}
	}
	@media (min-width: 1920px) {
		html {
			font-size: 24px;
		}
	}
	html {
		-webkit-tap-highlight-color: transparent;
		@apply touch-manipulation text-neutral-800 antialiased;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}
	p {
		@apply text-pretty;
	}
	strong {
		@apply font-black;
	}
}

@layer components {
	.revealed [class*='reveal:'] {
		transition-duration: 1s;
		transition-property: opacity, transform;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		will-change: opacity, transform;
	}
}

@layer utilities {
	.bg-img-texture {
		background-image: url(./assets/images/bg-img-texture.webp);
	}
	.bg-img-people {
		background-image: url(./assets/images/bg-img-people.webp);
	}
	.bg-img-car {
		background-image: url(./assets/images/bg-img-car.webp);
	}
}
